# =====================================================
# Nawax Radio - .gitignore (Clean & Safe)
# .NET + Flutter + Firebase
# =====================================================

# ===== OS / IDE =====
.DS_Store
Thumbs.db
.vscode/
.idea/
.vs/
*.iml
*.user
*.suo

# ===== Logs / Caches =====
*.log
*.cache

# ===== .NET build outputs =====
bin/
obj/
**/bin/
**/obj/

# ===== appsettings (secrets) =====
appsettings.json
appsettings.Development.json
appsettings.Production.json
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json

# ===== Secrets / Keys / Certs =====
*firebase-adminsdk*.json
*.pfx
*.pem
*.key
*.crt
*.bak

# ===== Firebase (allow public configs) =====
*.json
!firebase.json
!.firebaserc

# ===== Local / Temp =====
uploads/
test.mp3
channels.json
channels_out.json
liara.json

# ===== Flutter / Dart =====
.dart_tool/
.packages
.pub/
build/
.metadata
.flutter-plugins
.flutter-plugins-dependencies
**/.dart_tool/
**/.packages
**/.pub/
**/build/
**/.metadata
**/.flutter-plugins
**/.flutter-plugins-dependencies

# ===== Android =====
**/android/.gradle/
**/android/local.properties
**/android/app/debug.keystore
**/*.keystore
**/*.jks

# ===== iOS =====
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# secrets
**/*firebase-adminsdk*.json
**/*.p12
**/*.pem
**/*.key

# local assets not for repo
logo.png


# dotnet build artifacts
**/bin/
**/obj/
out/


# dotnet artifacts
**/bin/
**/obj/
out/

